# Log files
app/log
*.log

# Local propel files
build.properties
build/conf/aptostat_api-conf.php
runtime-conf.xml

# Composer
vendor

# Personal files
src/aptostatApi/model/Incident.php

# PhpStorm
.idea/workspace.xml
.idea/tasks.xml
