# Database driver
propel.database = mysql

# Project name
propel.project = aptostat

propel.database.url = mysql:host=localhost;dbname=aptostat
propel.database.user = aptostat
propel.database.password = aptostat
